@import url('https://fonts.googleapis.com/css?family=Cinzel&display=swap');

/*body a {
  text-decoration: none;
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
  -ms-transition: 0.5s all;
  font-family: 'Lato', sans-serif;
}
section {
  height: calc(90% - 50px);
}
*/
hr {
  color: #E4C5B6;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type:none;
}

a, a:focus, a:hover {
  text-decoration: none;
}

img {
  width: 100%;
}

/*
p{
  font-size: 16px;
  font-family: "Lato",sans-serif;
}


/*
.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}*/
#mainNav {
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  background: #744253;
  -webkit-transition: background-color 0.2s ease;
  transition: background-color 0.2s ease;
}

/*#mainNav .navbar-brand {
  font-family: "Merriweather Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 1000;
  font-size: 2em;
    text-transform: uppercase;
  color:#2c292f;

}
*/
#mainNav .navbar-nav .nav-item .nav-link {
  color: #ffffff;
  text-align: center;
}

#mainNav .nav-item::after {
  content: '';
  display: block;
  width: 0px;
  height: 2px;
  background: #D7BEA8;
  transition: 0.2s;
}

#mainNav ul li {
  display: inline-block;
}

#mainNav .nav-item:hover::after {
  width: 100%;
}

#mainNav .navbar-dark .navbar-nav .active>.nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show>.nav-link, .navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
  color: #fec400;
}

#mainNav .nav-link {
  padding: 10px 5px;
  transition: 0.2s;
}

#mainNav .dropdown-item.active, #mainNav .dropdown-item:active {
  color: #D7BEA8;
}

.dropdown-item:focus, .dropdown-item:hover {
  background: #D7BEA8;
}

.dropdown-menu {
  background: #744253;
}

.dropdown-menu a {
  color: #eee;
  padding: 10px 20px;
}

.search-navbar {
  text-align: center;
}

/*nav*/
/*carousel item*/
.carousel-item {
  height: 65vh;
  min-height: 350px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.carousel-caption a {
  background: #D7BEA8;
  border-color: #D7BEA8;
  color: #744253;
}

/*
#myCarousel .nav a small {
    display:block;
    font-family: 'Droid-sans', sans-serif;
    font-size: 15px;
}
#myCarousel .nav {
	background:#eee;
}
#myCarousel .nav a {
    border-radius:0px;
}
.custom-nav-pills {
    min-height: 300px;
}

.blue-custom-slide,.orange-custom-slide,.green-custom-slide {background-color: #FFFFFF;}
.blue-custom-slide { border-bottom: solid 4px #0080c6; }
.orange-custom-slide { border-bottom: solid 4px #f4b841; }
.green-custom-slide { border-bottom: solid 4px #91f798; }
.strong { font-weight: 600; }
*/
/*carousel item*/
/*

#mainNav .navbar-nav .nav-item .nav-link:hover, #mainNav .navbar-nav .nav-item .nav-link:active {
  color: #fff;
}

#mainNav .navbar-nav .nav-item .nav-link.active {
  color: #fff !important;
}

@media (min-width: 992px) {
  #mainNav {
    -webkit-box-shadow: none;
    box-shadow: none;
    background-color: transparent;
  }

  #mainNav .navbar-brand {
    color: rgba(255, 255, 255, 0.7);
  }

  #mainNav .navbar-brand:hover {
    color: #fff;
  }

  #mainNav .navbar-nav .nav-item .nav-link {
    color: rgba(255, 255, 255, 0.7);
    padding: 0 1rem;
  }

  #mainNav .navbar-nav .nav-item .nav-link:hover {
    color: #fff;
  }

  #mainNav .navbar-nav .nav-item:last-child .nav-link {
    padding-right: 0;
  }

  #mainNav.navbar-scrolled {
    -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    background-color: #41cb52  ;
  }

  #mainNav.navbar-scrolled .navbar-brand {
    color:  #2c292f
  }

  #mainNav.navbar-scrolled .navbar-brand:hover {
    color: #ffffff;
  }

  #mainNav.navbar-scrolled .navbar-nav .nav-item .nav-link {
    color:#2c292f;
  }

  #mainNav.navbar-scrolled .navbar-nav .nav-item .nav-link:hover {
    color: #ffffff;
  }
}

.navbar-toggler {
  cursor: pointer;
}


/*headertop*/
/* Top Bar
--------------------------------------------------------------------------------------------------------------- */
.header-top {
  padding: 0.5em 0;
  background: #b49286;
}

.headertop-text {
  font-size: .8rem;
}

ul.headertop-text li, ul.headertop-text li p, ul.headertop-text li a {
  letter-spacing: 1px;
  color: #eee;
}

ul.headertop-text li span.fa {
  color: #E6C8BF;
  font-size: 16px;
}

#topbar {
  font-size: .8rem;
  text-transform: uppercase;
}

#topbar ul li {
  display: inline-block;
  margin-right: 10px;
  padding-right: 20px;
}

#topbar ul li:last-child {
  margin-right: 0;
  padding-right: 0;
  border-right: none;
}

#topbar i {
  line-height: normal;
}

#topbar-lang ul li {
  border-right: 1px solid;
  border-color: ffffff;
  color: #E6C8BF;
}

.lang-text {
  font-size: .8rem;
  letter-spacing: 1px;
  color: #eee;
  font-family: 'Lato', sans-serif;
  display: block;
  width: 50px;
  height: 20px;
  position: relative;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #744253;
  border-color: #744253;
}

.lang-text:hover {
  color: #ffffff;
  background: #D7BEA8;
  border-color: #E6C8BF;
}

/*--headertop*/
/*header*/
#header {
  padding: 30px 0;
}

.logoname-ch {
  font-size: 30px;
  font-weight: 700;
  font-family: 'KaiTi';
  font-weight: 700;
  color: #744253;
}

.logoname {
  font-size: 30px;
  font-weight: 700;
  font-family: 'Cinzel', sans-serif;
  color: #744253;
}

.logoname a {
  text-decoration: none;
}

/*about*/
.section-heading {
  font-size: 40px;
  color: #b49286;
  font-weight: 600;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: center;
  position: relative;
  margin-bottom: 50px;
}

.section-heading h2 {
  position: relative;
  display: inline-block;
}

.section-heading:before {
  position: absolute;
  content: "";
  width: 80px;
  height: 3px;
  background-color: #744253;
  bottom: 0;
  left: 50%;
  margin-left: -40px;
}

.section-heading:after {
  position: absolute;
  content: "";
  width: 60px;
  height: 3px;
  background-color: #744253;
  left: 50%;
  bottom: -10px;
  margin-left: -30px;
}

.content-p {
  font-size: 16px;
  font-weight: normal;
  color: #555;
  letter-spacing: 1px;
  margin-bottom: 20px;
}



h4.about-heading {
  font-size: 25px;
  color: #353c4e;
  text-transform: capitalize;
}

/*aboutus*/
/*event*/
.colour-section {
  background: #f9f1ee;
  padding: 30px 0px;
  min-height: 550px;
}

.image-grid-cover {
  width: 100%;
  background-size: cover;
  min-height: 180px;
  position: relative;
  margin-bottom: 30px;
  border-radius: 4px;
  /*  text-shadow: rgba(0,0,0,.8) 0 1px 0;*/
}

.image-grid-clickbox {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  z-index: 20;
  background: rgba(0, 0, 0, .45);
}

.cover-wrapper {
  font-size: 18px;
  text-align: center;
  display: block;
  color: #fff;
  z-index: 21;
  position: relative;
  top: 80px;
}

.cover-wrapper:hover {
  color: #744253;
  background: #D7BEA8;
  /*background: #C6B3AE;
/*
  border-color: #E6C8BF;*/
}

.image-grid-clickbox a {
  font-weight: bold;
  font-size: 20px;
  transition: all 500ms;
  font-family: 'Lato', sans-serif;
}

.image-grid-clickbox a:hover {
  font-size: 25px;
  /*font-size-adjust: 20px;*/
}

/*event*/
/*resources*/
a.access-btn {
  color: #fff;
  background: #D7BEA8;
  display: inline-block;
  padding: 10px 30px;
  border-radius: 3px;
  margin-top: 20px;
  font-weight: 500;
  /*  -webkit-transition:.4s;
  transition: .4s;
  position:relative;
  overflow:hidden;
  z-index:10*/
}

a.access-btn:hover {
  color: #744253;
}

/*.mb-60 {
  margin-bottom: 60px;
}*/
/*
a.border-btn:before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: #333;
  left: 0;
  top: -100%;
  border-radius: 3px;
  -webkit-transition:.4s;
  transition: .4s;
  visibility: hidden;
  z-index:-1
}
a.border-btn:hover:before {
  visibility:visible;
  top: 0;
}*/
.res-service h3 {
  font-weight: 600;
  font-size: 20px;
}

.res-service p {
  font-weight: 300;
  color: #333;
  font-size: 14px;
}

.resources .res-service {
  text-align: center;
  border: 1px solid #ddd;
  padding: 25px 40px;
  -webkit-transition: .4s;
  transition: .4s;
}

.resources .res-service i {
  width: 60px;
  height: 60px;
  font-size: 30px;
  line-height: 60px;
  border: 1px solid #b49286;
  margin-bottom: 30px;
  border-radius: 50%;
  color: #b49286;
  -webkit-transition: .4s;
  transition: .4s;
}

.resources .res-service:hover i {
  background-color: #D7BEA8;
  color: #744253;
  border-color: #D7BEA8;
}

.resources .res-service:hover {
  box-shadow: -3px 3px 3px 0px #ddd;
}

/*resources*/
/*joinus*/
.joinus-inner {
  border: 2px solid #FFCDB2;
  transition: .3s;
  padding: 25px 25px;
  font-family: "Lato", sans-serif;
  background: #FFCDB2;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2);
}

#label-membership .joinus-text h4 {
  color: #ffffff;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 1px;
  margin-bottom: 8px;
  padding-bottom: 10px;
  position: relative;
  text-transform: uppercase;
  text-align: center;
  border: 1px solid #B5838D;
  padding: 25px 40px;
  background: #c782a6;
  font-family: "Lato", sans-serif;
}

#label-careers .joinus-text h4 {
  color: #ffffff;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 1px;
  margin-bottom: 8px;
  padding-bottom: 10px;
  position: relative;
  text-transform: uppercase;
  text-align: center;
  border: 1px solid #a28089;
  padding: 25px 40px;
  background: #C78283;
  font-family: "Lato", sans-serif;
}

#label-sponsorship .joinus-text h4 {
  color: #ffffff;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 1px;
  margin-bottom: 8px;
  padding-bottom: 10px;
  position: relative;
  text-transform: uppercase;
  text-align: center;
  border: 1px solid #b49286;
  padding: 25px 40px;
  background: #c7a482;
  font-family: "Lato", sans-serif;
}

.joinus-inner a {
  color: #222222;
  background: #ffb4a2;
  display: inline-block;
  padding: 10px 20px;
  border-radius: 3px;
  margin-top: 20px;
  font-weight: 500;
  border: 2px solid #222222;
}

.joinus-inner a:hover {
  /*background: transparent none repeat scroll 0 0;*/
  border: 2px solid #222222;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2);
  background: #b49286;
  color: #ffffff;
}

.joinus-text p {
  margin-bottom: 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  color: #ffffff;
}

/*joinus*/
/*-- breadcrumbs --*/
.breadcrumb {
  padding-top: 1em;
  background:#f5f5f5;
margin: 0;
}
.breadcrumb-item{
  display: inline-block;
  color: #212121;
  text-transform: capitalize;

  padding-left: 55px;
}

.breadcrumb-item a{
 color: #744253;
}

.breadcrumb-item  a:hover {
 color: #D7BEA8;
}

/*-- //breadcrumbs --*/
/*database page*/

.database-sidebar h4{
  color: #b49286;
  font-weight: 600;
  letter-spacing: 2px;

}


.database-sidebar a:hover{
  color: #744253;
  background:#D7BEA8;
}

.alphabet-bar button{
  padding: 5px 7px;
  color: #744253;
  background: #D7BEA8;
  margin-bottom: 10px;
  border: 2px solid #744253;
}
.alphabet-bar button:disabled{
  padding: 5px 7px;
  color: #744253;
  background: #f5f5f5;
  margin-bottom: 10px;
  border: 2px solid #f5f5f5;
}

.search-btn{
  color: #222222;
  background: #ffb4a2;
  display: inline-block;
  border-radius: 5px;
  font-weight: 500;
  border: 1px solid #222222;
}

.data-left h2 {
  color: #b49286;
  font-weight: 600;
  letter-spacing: 2px;
  text-transform:uppercase;
}

.resources-content {
  padding: 10px 10px;
  background: #f5f5f5;
}

.tabs-resources .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color:#b49286;
    background-color: #f5f5f5;
    border-color:  #f3f3f3;
    border-bottom: 3px solid;
    font-size: 16px;
    font-weight: bold;
}

/*database*/
/*ebook*/
.book-resources .card{
  border: 1px solid #ddd;

  margin-bottom: 20px;


}
/*//ebbok*/
/*cultural*/
.culture-page-banner {
  background: url(../img/cultural.jpg) no-repeat center;
  background-size: cover;
  min-height: 300px;
   background-attachment: fixed;
}

.top-indicator {
    right: 0;
    top: 1rem;
    bottom: inherit;
    left: inherit;
    margin-right: 1rem;
}

/*exhibitions*/
.exhibitions .date{
background: #ffb4a2;
 border: 1px solid #222222;
 padding: 10px 0px;
 margin:0;
 height:86px;
}
/*exhibitions*/
/*award*/
/* card details start  */




.card-content {
	background: #ffffff;
	border: 4px;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
}

.card-img {
	position: relative;
	overflow: hidden;
	border-radius: 0;
	z-index: 1;
}

.card-img img {
	width: 100%;
	height: auto;
	display: block;
}
/*
.card-img span {
	position: absolute;
    float:right;
    background: #D7BEA8;
    padding: 15x;
    color: #fff;
    font-size: 12px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    transform: translate(-50%,-50%);
}
.card-img span h4{
        font-size: 12px;
        margin:0;
        padding:10px 5px;
         line-height: 0;
}*/
.card-desc {
	padding: 1.25rem;
}

.card-desc h5{
	color: #000000;
    font-weight: 600;

    line-height: 1.3em;
    margin-top: 0;
    margin-bottom: 5px;
    padding: 0;
}


/*award*/
/*reading*/
.reading-form{
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6)),url(../img/sponsorship-head.jpg) no-repeat center;
  background-size: cover;
  min-height: 300px;
 background-attachment: fixed;

}
/*reading*/
.talks-page-banner{
  background: url(../img/slide3.jpg) no-repeat center;
  background-size: cover;
  min-height: 300px;
 background-attachment: fixed;

}



/*membership--*/
.membership-inner {
  /*  border: 2px solid #b49286;
  transition: .3s;
  padding: 25px 25px;
  font-family: "Lato", sans-serif;
  background: #b49286;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2);
  border: 2px solid  #222222;*/
  margin-left: 35px;
  padding-right: 10px;
  transition: .3s;
  padding: 10px 25px;
  /*  margin-top: 28px;*/
  border-left: transparent;
  border-right: transparent;
}

.membership-icon i {
  font-size: 4em;
  float: left;
  margin-left: -25px;
  margin-right: 32px;
  color: #c78283;
}

.membership-text p {
  padding-right: 5px;
  overflow: hidden;
  padding: 20px 0 25px;
}
.member-subscribe h4{
    background: #c7a482;
    color: #ffffff;
}

.member-subscribe #register{
    background: #c782a6;
    color: #ffffff;
}

.rules-list .list-group li{
  background:#E4C5B6;
  color:  #222222;

}
/*membership--*/
/*OPAC Page*/
.search-bar-content {
  background: #D7BEA8;
  border-color: #D7BEA8;
  color: #744253;
  padding: 20px;
/*  margin-bottom: 60px;*/
  height: auto;
}

.mb-80 {
  margin-bottom: 80px;
  padding: 50px;
}

.search-bar-content .input-group button {
  color: #222222;
  background: #ffb4a2;
  display: inline-block;
  border-radius: 5px;
  font-weight: 500;
  border: 1px solid #222222;
}

.search-bar-content input {
  border: 1px solid #222222;
}

.search-bar-content .input-group .dropdown-menu {
  color: #222222;
  background: #ffb4a2;
}

.search-bar-content .input-group .dropdown-menu li:hover {
  color: #222222;
  background: #E6C8BF;
}

.input-group-prepend select{
  border: 1px solid #222222;
}
/*//Opac Page*/
/*Career Page*/
.career-page-banner {
  background: url(../img/careers-head.jpg) no-repeat center;
  background-size: cover;
  min-height: 300px;
   background-attachment: fixed;
}

.page-layer {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6));
  min-height: 335px;
}

.careers-table thead {
  /*  background: #C78283;*/
  padding: 20px 0px;
  font-size: 18px;
  font-family: "Lato", sans-serif;
}

.careers-table thead tr {
  color: #ffffff;
  letter-spacing: 1px;
}

.careers-table td {
  border-bottom: : 1px solid #eee;
}

.btnCareer {
  color: #ffffff;
  background: #D7BEA8;
  display: inline-block;
  border-radius: 5px;
  border: 1px solid #D7BEA8;
}

.btnCareer:hover {
  color: #744253;
}

.career-form input[type="submit"] {
  background: #ffb4a2;
  display: inline-block;
  border-radius: 5px;
  padding: 5px 15px;
  border: 2px solid #222222;
}

/*Career Page*/

/*sponsorship*/
.sponsorship-page-banner {
  background: url(../img/sponsorship-head.jpg) no-repeat center;
  background-size: cover;
  min-height: 300px;
   background-attachment: fixed;
}

.sponsorship p {
  font-size: 16px;
  font-weight: normal;
  color: #555;
  letter-spacing: 1px;
}

.learn-more-btn a {
  color: #222222;
  background: #ffb4a2;
  display: inline-block;
  padding: 10px 20px;
  border-radius: 3px;
  margin-top: 20px;
  font-weight: 500;
  border: 2px solid #222222;
}

.learn-more-btn button{
  color: #222222;
  background: #ffb4a2;
  display: inline-block;
  padding: 10px 20px;
  border-radius: 3px;
  margin-top: 20px;
  font-weight: 500;
  border: 2px solid #222222;
}

.sponsorship a:hover {
  /*background: transparent none repeat scroll 0 0;*/
  border: 2px solid #222222;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2);
  background: #b49286;
  color: #ffffff;
}

.sponsor-logo {
  left: 0;
  top: 0;
  position: relative;
  overflow: hidden;
  margin-top: 50px;
  padding: 20px 20px;
}

.sponsor-logo img {
  -webkit-transition: 0.6s ease;
  transition: 0.6s ease;
}

.sponsor-logo img:hover {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

/*--//sponsorship*/
/*CONTACT US Page*/
.contactus-form {
  padding: 20px 10px;
  background: #b49286;
}

.contactus-form .form-control {
  padding: 20px 5px;
}

.contactus-form textarea {
  outline: none;
  padding: 14px 24px;
  font-size: 17px;
  letter-spacing: 1px;
  color: #555;
  width: 100%;
  border: 1px solid #e4e4e4;
  min-height: 200px;
  width: 100%;
  resize: none;
}

.submit-buttons button {
  color: #222222;
  background: #ffb4a2;
  display: inline-block;
  padding: 10px 20px;
  border-radius: 3px;
  margin-top: 20px;
  font-weight: 500;
  border: 2px solid #222222;
}

.contact-us-content h4 {
  color: #b49286;
}

.contact-us-text {
  border: 2px solid #FFCDB2;
  font-family: "Merriweather", sans-serif;
  background: #FFCDB2;
  padding: 0px 30px;
}

.contact-us-text p {
  font-size: 15px;
}

.contact-us-content th, td {
  border-bottom: 1px solid #E4C5B6;
}

.contact-us-content span {
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  text-align: center;
  line-height: 3em;
  background: #b49286;
  float: left;
  color: #fff;
  font-size: 1em;
}

.w3layouts_mail_grid_left2 h3 {
  font-size: 1.1em;
  color: #212121;
  margin: .3em 0 0;
}

.w3layouts_mail_grid_left2 a {
  text-decoration: none;
  color: #999;
  font-size: 14px;
}

/*//CONTACT US Page*/
/*footer*/
#footer-title {
  font-size: 28px;
  font-family: 'Cinzel';
  padding-bottom: 20px;
  font-weight: 700;
  color: #E6C8BF;
}

.animate-border {
  position: relative;
  display: block;
  width: 150px;
  height: 3px;
  background: #aeaeae;
}

.dk-footer {
  padding: 50px 0 0 0;
  background-color: #744253;
  position: relative;
  z-index: 2;
}

.dk-footer-box-info {
  margin-bottom: 30px;
  padding-right: 20px;
}

.dk-footer-box-info .ophour-icon i {
  font-size: 14px;
  color: #D7BEA8;
  /*color: #C6B3AE;*/
}

.dk-footer-box-info .ophour-text {
  font-size: 16px;
  top: -25px;
  position: relative;
  margin-left: 30px
}

.footer-widget .contact-info {
  padding-bottom: 30px;
}

.footer-widget p {
  font-family: 'Nunito', sans-serif;
  font-size: 16px;
  padding-bottom: 10px;
  /*  line-height: 28px;*/
}

.footer-widget span {
  font-size: 14px;
  color: #D7BEA8;
}

.footer-widget .footer-heading {
  margin-bottom: 35px;
}

.footer-widget h3 {
  font-size: 24px;
  font-weight: 700;
  font-family: 'Lato', sans-serif;
  text-transform: capitalize;
  color: #D7BEA8;
  position: relative;
  margin-bottom: 15px;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
}

.footer-widget ul {
  width: 50%;
  float: left;
  list-style: none;
  margin: 0;
  padding: 0 10px 20px 0px;
}

.footer-widget li {
  margin-bottom: 18px;
}

.footer-widget a {
  text-decoration: none;
  color: #fff;
  /*#878787*/
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.footer-widget a:hover {
  color: #E6CB8F;
}

.footer-widget:after {
  content: "";
  display: block;
  clear: both;
}

.back-to-top {
  position: relative;
  z-index: 2;
}

.back-to-top .btn-dark {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  padding: 0;
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: #b49286;
  border-color: #a28089;
  display: none;
  z-index: 999;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.back-to-top .btn-dark:hover {
  cursor: pointer;
  background: #C6B3AE;
  border-color: #C6B3AE;
}

/*-- responsive design --*/
