@import url('https://fonts.googleapis.com/css?family=Cinzel&display=swap');

/*body a {
  text-decoration: none;
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
  -ms-transition: 0.5s all;
  font-family: 'Lato', sans-serif;
}*/
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
#mainNav {
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  background:#744253;
  -webkit-transition: background-color 0.2s ease;
  transition: background-color 0.2s ease;
}

/*#mainNav .navbar-brand {
  font-family: "Merriweather Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 1000;
  font-size: 2em;
    text-transform: uppercase;
  color:#2c292f;

}
*/
#mainNav .navbar-nav .nav-item .nav-link {
  color:#ffffff;
  text-align: center;
  margin-right: ;
  width: 100%;

}
#mainNav .nav-item::after {
  content: '';
  display: block;
  width: 0px;
  height: 2px;
  background: #D7BEA8;
  transition: 0.2s;
}
#mainNav ul li {
  display: inline-block;

}
#mainNav .nav-item:hover::after {
  width: 100%;
}

#mainNav .navbar-dark .navbar-nav .active > .nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show > .nav-link,.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover{color:#fec400;
}

#mainNav .nav-link {
  padding: 10px 5px;
  transition: 0.2s;
}

#mainNav .dropdown-item.active, #mainNav .dropdown-item:active {
  color: #D7BEA8;
}

.dropdown-item:focus, .dropdown-item:hover {
  background: #D7BEA8;
}
.dropdown-menu{
  background: #744253;
}

.dropdown-menu a{
  color: #eee;
  padding: 20px 30px;


}
/*

#mainNav .navbar-nav .nav-item .nav-link:hover, #mainNav .navbar-nav .nav-item .nav-link:active {
  color: #fff;
}

#mainNav .navbar-nav .nav-item .nav-link.active {
  color: #fff !important;
}

@media (min-width: 992px) {
  #mainNav {
    -webkit-box-shadow: none;
    box-shadow: none;
    background-color: transparent;
  }

  #mainNav .navbar-brand {
    color: rgba(255, 255, 255, 0.7);
  }

  #mainNav .navbar-brand:hover {
    color: #fff;
  }

  #mainNav .navbar-nav .nav-item .nav-link {
    color: rgba(255, 255, 255, 0.7);
    padding: 0 1rem;
  }

  #mainNav .navbar-nav .nav-item .nav-link:hover {
    color: #fff;
  }

  #mainNav .navbar-nav .nav-item:last-child .nav-link {
    padding-right: 0;
  }

  #mainNav.navbar-scrolled {
    -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    background-color: #41cb52  ;
  }

  #mainNav.navbar-scrolled .navbar-brand {
    color:  #2c292f
  }

  #mainNav.navbar-scrolled .navbar-brand:hover {
    color: #ffffff;
  }

  #mainNav.navbar-scrolled .navbar-nav .nav-item .nav-link {
    color:#2c292f;
  }

  #mainNav.navbar-scrolled .navbar-nav .nav-item .nav-link:hover {
    color: #ffffff;
  }
}

.navbar-toggler {
  cursor: pointer;
}


/*headertop*/
/* Top Bar
--------------------------------------------------------------------------------------------------------------- */
.header-top {
  padding: 0.5em 0;
  background: #b49286;
}

.headertop-text {
  font-size: .8rem;
}


ul.headertop-text li, ul.headertop-text li p, ul.headertop-text li a {
  letter-spacing: 1px;
  color: #eee;
}

ul.headertop-text li span.fa {
  color: #E6C8BF;
  font-size: 16px;
}

#topbar {
  font-size: .8rem;
  text-transform: uppercase;
}

#topbar ul li {
  display: inline-block;
  margin-right: 10px;
  padding-right: 20px;

}

#topbar ul li:last-child {
  margin-right: 0;
  padding-right: 0;
  border-right: none;
}

#topbar i {
  line-height: normal;
}

#topbar-lang ul li {
    border-right: 1px solid;
    border-color: ffffff;
      color: #E6C8BF;
}
.lang-text {
  font-size: .8rem;
  letter-spacing: 1px;
  color: #eee;
  font-family: 'Lato', sans-serif;
  display: block;
  width: 50px;
  height: 20px;
  position: relative;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #744253;
  border-color: #744253;
}

.lang-text:hover {
  color: #ffffff;
  background: #D7BEA8;
  border-color: #E6C8BF;
}

/*--headertop*/
/*header*/
#header {
  padding: 30px 0;
  margin: 5px;
  line-height: 1;
}


.logoname-ch{
  font-size: 30px;
  font-weight: 700;
  font-family: 'KaiTi';
  font-weight: 700;
  color: #744253;;
}

.logoname {
  font-size: 30px;
  font-weight: 700;
    font-family: 'Cinzel', sans-serif;
    color: #744253;;
}
.logoname a{
  text-decoration: none;
}
/*header*/

/*nav*/
/* Navigation */
/* Navigation
--------------------------------------------------------------------------------------------------------------- */

/*nav*/

/*footer*/
.title {
  font-size: 28px;
  font-family: 'Cinzel', sans-serif;
  padding-bottom: 20px;
  font-weight: 700;
  color: #D7BEA8;
}

.animate-border {
  position: relative;
  display: block;
  width: 150px;
  height: 3px;
  background: #aeaeae;
}

.dk-footer {
  padding: 50px 0 0 0;
  background-color: #744253;
  position: relative;
  z-index: 2;
}

.dk-footer-box-info {
  margin-bottom: 30px;
  padding-right: 20px;
}

.dk-footer-box-info .ophour-icon i {
  font-size: 14px;
  color: #D7BEA8;
  /*color: #C6B3AE;*/
}

.dk-footer-box-info .ophour-text {
  font-size: 16px;
  top: -25px;
  position: relative;
  margin-left: 30px
}

.footer-widget .contact-info {
  padding-bottom: 30px;
}

.footer-widget p {
  font-family: 'Nunito', sans-serif;
  font-size: 16px;
  padding-bottom: 10px;
  /*  line-height: 28px;*/
}

.footer-widget span {
  font-size: 14px;
  color: #D7BEA8;
}

.footer-widget .section-heading {
  margin-bottom: 35px;
}

.footer-widget h3 {
  font-size: 24px;
  font-weight: 700;
  font-family: 'Lato', sans-serif;
  text-transform: capitalize;
  color: #D7BEA8;
  position: relative;
  margin-bottom: 15px;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
}

.footer-widget ul {
  width: 50%;
  float: left;
  list-style: none;
  margin: 0;
  padding: 0 10px 20px 0px;
}

.footer-widget li {
  margin-bottom: 18px;
}

.footer-widget a {
  text-decoration: none;
  color: #fff;
  /*#878787*/
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.footer-widget a:hover {
  color: #E6CB8F;
}

.footer-widget:after {
  content: "";
  display: block;
  clear: both;
}

.back-to-top {
  position: relative;
  z-index: 2;
}

.back-to-top .btn-dark {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  padding: 0;
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: #b49286;
  border-color: #a28089;
  display: none;
  z-index: 999;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.back-to-top .btn-dark:hover {
  cursor: pointer;
  background: #E6CB8F;
  border-color: #E6CB8F;
}

/*-- responsive design --*/
