@import url('https://fonts.googleapis.com/css?family=Cinzel&display=swap');

/*body a {
  text-decoration: none;
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
  -ms-transition: 0.5s all;
  font-family: 'Lato', sans-serif;
}*/
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

/*headertop*/
/* Top Bar
--------------------------------------------------------------------------------------------------------------- */
.header-top {
  padding: 0.5em 0;
  background: #b49286;
}

.headertop-text {
  font-size: .8rem;
}

ul.headertop-text {
  list-style: none;
}

ul.headertop-text li, ul.headertop-text li p, ul.headertop-text li a {
  letter-spacing: 1px;
  color: #eee;
}

ul.headertop-text li span.fa {
  color: #E6CB8F;
  font-size: 16px;
}

#topbar {
  font-size: .8rem;
  text-transform: uppercase;
}

#topbar ul li {
  display: inline-block;
  margin-right: 10px;
  padding-right: 20px;
  border-right: 1px solid;
}

#topbar ul li:last-child {
  margin-right: 0;
  padding-right: 0;
  border-right: none;
}

#topbar i {
  line-height: normal;
}

.lang-text {
  font-size: .8rem;
  letter-spacing: 1px;
  color: #eee;
  font-family: 'Lato', sans-serif;
  display: block;
  width: 50px;
  height: 20px;
  position: relative;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #744253;
  border-color: #744253;
}

.lang-text:hover {
  color: #ffffff;
  background: #D7BEA8;
  border-color: #E6CB8F;
}

/*--headertop*/
#header {
  padding: 50px 0;
}

#header #logo * {
  margin: 5px;
  padding: 0;
  line-height: 1;
}

#header #logo h1 {
  font-size: 40px;
  font-weight: 700;
  font-family: 'KaiTi';
  padding: 20px 0px 0px 0px;

}

/*#header #logo h1 span {
  font-size: 4rem;
  font-weight: 400;
  font-family: 'Cinzel', sans-serif;
  padding-bottom: 20px;
}*/

.logoname-ch{
  font-size: 40px;
  font-weight: 700;
  font-family: 'KaiTi';
  font-weight: 700;
  color: #E6CB8F;
}

.logoname {
  font-size: 40px;
  font-weight: 700;
    font-family: 'Cinzel', sans-serif;
    color: #E6CB8F;
}
.logoname a{
  text-decoration: none;
  color: #E6CB8F;
}



/*footer*/
.title {
  font-size: 28px;
  font-family: 'Cinzel', sans-serif;
  padding-bottom: 20px;
  font-weight: 700;
  color: #E6CB8F;
}

.animate-border {
  position: relative;
  display: block;
  width: 150px;
  height: 3px;
  background: #aeaeae;
}

.dk-footer {
  padding: 50px 0 0 0;
  background-color: #744253;
  position: relative;
  z-index: 2;
}

.dk-footer-box-info {
  margin-bottom: 30px;
  padding-right: 20px;
}

.dk-footer-box-info .ophour-icon i {
  font-size: 14px;
  color: #D7BEA8;
  /*color: #C6B3AE;*/
}

.dk-footer-box-info .ophour-text {
  font-size: 16px;
  top: -25px;
  position: relative;
  margin-left: 30px
}

.footer-widget .contact-info {
  padding-bottom: 30px;
}

.footer-widget p {
  font-family: 'Nunito', sans-serif;
  font-size: 16px;
  padding-bottom: 10px;
  /*  line-height: 28px;*/
}

.footer-widget span {
  font-size: 14px;
  color: #D7BEA8;
}

.footer-widget .section-heading {
  margin-bottom: 35px;
}

.footer-widget h3 {
  font-size: 24px;
  font-family: 'Lato', sans-serif;
  text-transform: capitalize;
  color: #D7BEA8;
  position: relative;
  margin-bottom: 15px;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
}

.footer-widget ul {
  width: 50%;
  float: left;
  list-style: none;
  margin: 0;
  padding: 0 10px 20px 0px;
}

.footer-widget li {
  margin-bottom: 18px;
}

.footer-widget a {
  text-decoration: none;
  color: #fff;
  /*#878787*/
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.footer-widget a:hover {
  color: #E6CB8F;
}

.footer-widget:after {
  content: "";
  display: block;
  clear: both;
}

.back-to-top {
  position: relative;
  z-index: 2;
}

.back-to-top .btn-dark {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  padding: 0;
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: #b49286;
  border-color: #a28089;
  display: none;
  z-index: 999;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.back-to-top .btn-dark:hover {
  cursor: pointer;
  background: #E6CB8F;
  border-color: #E6CB8F;
}

/*-- responsive design --*/
